body {
    font-family: calibri, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px; /* Kurangi jarak bawah heading utama */
    padding: 8px 20px;
    background-color: #ff5050; /* Ganti dengan warna yang Anda inginkan */
    color: white; /* Menambahkan warna putih pada teks */
    border-radius: 0px; /* Membuat sudut background lebih melengkung */
  }
  
  .container {
    display: flex;
    align-items: flex-start;
    margin-top: 0; /* Jarak antara container dan elemen atas */
  }
  
  .menu-container {
    width: 200px; /* Lebar menu */
    margin-right: 20px; /* Memberikan jarak antara menu dan data */
  }
  
  .data-container {
    flex-grow: 1; /* Membuat container data mengisi sisa ruang */
    overflow: hidden;
    margin-top: 18px;
    max-width: 1200px;
    width: 100%;
  }
  
  #activeTable, #UsersTable {
    width: 100%; /* Pastikan tabel menggunakan lebar penuh */
    table-layout: fixed; /* Menjaga ukuran kolom konsisten */
    border-collapse: none;
    overflow-y: auto; /* Scroll vertikal */
    display: block; /* Agar scroll bekerja */
    max-height: 355px; /* Batasi tinggi tabel */
  }
  
  table, th, td {
    border: 1px solid #ddd;
    width: 150px; /* Pastikan kolom memiliki lebar yang konsisten */
  }
  
  th, td {
    padding: 10px; /* Mengatur jarak di dalam sel */
    text-align: left;
    word-wrap: break-word; /* Agar teks panjang dibungkus dalam kolom */
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  #activeUsersTitle, #UsersTableTitle {
    margin-top: 0px; /* Kurangi jarak atas dari <h2> */
    margin-bottom: 0px; /* Atur jarak bawah jika perlu */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  #listUsersTitle, #UsersTableTitle {
    margin-top: 0px; /* Kurangi jarak atas dari <h2> */
    margin-bottom: 0px; /* Atur jarak bawah jika perlu */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu > li {
    margin: 10px 0;
  }
  
  .menu > li > a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    display: inline-block;
    background-color: #0d9e19;
    border: 1px solid #ddd;
    border-radius: 0px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .submenu {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
  
  .submenu.show {
    display: block;
    max-height: 500px;
    opacity: 1;
  }
  
  .submenu > li > a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    display: block;
    background-color: #f9f9f9;
  }
  
  .submenu > li > a:hover {
    background-color: #f0f0f0;
  }
  
  #activeTable th:first-child,
  #activeTable td:first-child,
  #UsersTable th:first-child,
  #UsersTable td:first-child {
    width: 30px;
    text-align: center;
    overflow: hidden; /* Agar teks tidak meluber */
  }
  
  #UsersTable {
    border-spacing: 5px; /* Mengatur jarak antar sel */
    border-collapse: none; /* Memastikan border-spacing bekerja */
  }

  #dataContainer {
    display: none; /* Sembunyikan tabel setelah login pertama kali */
  }

  
  #UsersContainer {
    display: none; /* Sembunyikan tabel setelah login pertama kali */
  }
 
  
  #welcomeMessage {
    display: block; /* Tampilkan pesan selamat datang */
  }

  #logoutButton {
    font-size: 16px; /* Sesuaikan ukuran font dengan tombol menu */
    font-weight: bold; /* Sesuaikan dengan tombol menu */
    padding: 5px 20px; /* Menyesuaikan padding agar lebih besar */
    width: 171px; /* Menyesuaikan lebar tombol agar sama dengan tombol menu */
    background-color: #ff5050; /* Menyesuaikan warna background tombol dengan tombol menu */
    color: white; /* Menyesuaikan warna teks */
    border: 1px solid #ddd;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  /* Menambahkan efek hover */
  #logoutButton:hover {
    background-color: #970500; /* Mengubah warna latar saat hover */
  }
  
  #logoutButton {
    align-self: flex-end; /* Menempatkan tombol logout di kanan */
    margin-top: 10px;
    margin-right: 20px;
  }
  

  #UsersContainer, #datacontainer {
    margin-bottom: 15px;
    text-align: left;
  }
  
  #searchInput {
    padding: 8px;
    width: 200px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid #ddd;
  }